{% extends 'base.html' %}
{% block content %}
<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.full_name.label }} {{ form.full_name(class="form-control") }}
    {{ form.address.label }} {{ form.address(class="form-control") }}
    {{ form.phone.label }} {{ form.phone(class="form-control") }}
    {{ form.email.label }} {{ form.email(class="form-control") }}
    {{ form.password.label }} {{ form.password(class="form-control") }}
    {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
    {{ form.submit(class="btn btn-success mt-3") }}
</form>
{% endblock %}
